/*******************************************************************************
 * ROUNDED THEME FOR ROFI
 * User                 : LR-Tech
 * Theme Repo           : https://github.com/lr-tech/rofi-themes-collection
 *******************************************************************************/

* {
    bg0:    #24273A;
    bg1:    #A5ADCB;
    bg2:    #A6DA95;
    bg3:    #24273A;
    fg0:    #CAD3F5;
    fg1:    #CAD3F5;
    fg2:    #CAD3F5;
    fg3:    #CAD3F5;
}

@import "rounded-common.rasi"

element selected {
    text-color: @bg1;
}
